<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="NMR Measurement"
            objectClass="net.openchrom.knime.node.nmr.ft.portobject.NMRMeasurementPortObject"
            objectSerializer="net.openchrom.knime.node.nmr.ft.portobject.NMRMeasurementPortObject$Serializer"
            specClass="net.openchrom.knime.node.nmr.ft.portobject.NMRMeasurementPortObjectSpec"
            specSerializer="net.openchrom.knime.node.nmr.ft.portobject.NMRMeasurementPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="openchrom/nmr"
            factory-class="net.openchrom.knime.node.nmr.ft.FTNodeFactory"
            />
   </extension>
</plugin>
