<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="KNIME Integration"
            category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.process.supplier.knime.ui.preferences.PreferencePage"
            id="net.openchrom.chromatogram.process.supplier.knime.ui.preferences.preferencePage">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            level-id="openchrom"
            name="OpenChrom"
            icon="icons/openchrom.png"
            description="OpenChrom I/O and visualization nodes."
            path="/">
      </category>        
   </extension>
</plugin>
