<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="net.openchrom.xxd.process.supplier.knime.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="KNIME Integration"
            category="org.eclipse.chemclipse.chromatogram.msd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.xxd.process.supplier.knime.ui.preferences.PreferencePage"
            id="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.preferences.preferencePage">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            level-id="openchrom"
            name="OpenChrom"
            icon="icons/openchrom.png"
            description="OpenChrom I/O and visualization nodes."
            path="/">
      </category>
      <category
            level-id="io"
            name="I/O"
            icon="icons/io.png"
            description="Data input and output of various file formats."
            path="/openchrom">
      </category>
      <category
            level-id="da"
            name="Direct Access"
            icon="icons/da.png"
            description="Direct access to measurement data via open editor."
            path="/openchrom">
      </category>
      <category
            level-id="visualization"
            name="Visualization"
            icon="icons/visualization.png"
            description="Data visualization"
            path="/openchrom">
      </category>
      <category
            level-id="filter"
            name="Filter"
            icon="icons/filter.png"
            description="Filter"
            path="/openchrom">
      </category>    
      <category
            level-id="manipulator"
            name="Manipulator"
            icon="icons/manipulator.png"
            description="Manipulator"
            path="/openchrom">
      </category>    
      <category
            level-id="translator"
            name="Translator"
            icon="icons/translator.png"
            description="Translator"
            path="/openchrom">
      </category>                  
      <category
            level-id="msd"
            name="MSD"
            icon="icons/msd.png"
            description="Mass Selective Detector (MSD)."
            path="/openchrom/io">
      </category>
      <category
            level-id="csd"
            name="CSD"
            icon="icons/csd.png"
            description="Current Selective Detector (CSD)."
            path="/openchrom/io">
      </category>
      <category
            level-id="wsd"
            name="WSD"
            icon="icons/wsd.png"
            description="Wavelength Selective Detector (WSD)."
            path="/openchrom/io">
      </category>
      <category
            level-id="nmr"
            name="NMR"
            icon="icons/nmr.png"
            description="Nuclear Magnetic Resonance (NMR)."
            path="/openchrom/io">
      </category>
      <category
            level-id="msd"
            name="MSD"
            icon="icons/msd.png"
            description="Mass Selective Detector (MSD)."
            path="/openchrom/da">
      </category>
      <category
            level-id="csd"
            name="CSD"
            icon="icons/csd.png"
            description="Current Selective Detector (CSD)."
            path="/openchrom/da">
      </category>
      <category
            level-id="wsd"
            name="WSD"
            icon="icons/wsd.png"
            description="Wavelength Selective Detector (WSD)."
            path="/openchrom/da">
      </category>
      <category
            level-id="nmr"
            name="NMR"
            icon="icons/nmr.png"
            description="Nuclear Magnetic Resonance (NMR)."
            path="/openchrom/da">
      </category>
      <category
            icon="icons/sandbox.png"
            level-id="sandbox"
            locked="true"
            name="Sandbox"
            path="/openchrom">
      </category>        
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/openchrom/io/msd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.msd.ChromatogramReaderMSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/io/msd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.msd.ChromatogramWriterMSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/io/csd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.csd.ChromatogramReaderCSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/io/csd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.csd.ChromatogramWriterCSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/io/wsd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.wsd.ChromatogramReaderWSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/io/wsd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.wsd.ChromatogramWriterWSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/io/nmr"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.nmr.MeasurementReaderNMRNodeFactory">
      </node>
      <node
            category-path="/openchrom/io/nmr"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.nmr.MeasurementWriterNMRNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/msd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.msd.ChromatogramGetterMSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/msd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.msd.ChromatogramSetterMSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/csd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.csd.ChromatogramGetterCSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/csd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.csd.ChromatogramSetterCSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/wsd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.wsd.ChromatogramGetterWSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/wsd"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.wsd.ChromatogramSetterWSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/nmr"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.nmr.MeasurementGetterNMRNodeFactory">
      </node>
      <node
            category-path="/openchrom/da/nmr"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.nmr.MeasurementSetterNMRNodeFactory">
      </node>
      <node
            category-path="/openchrom/visualization"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.viz.chromatogram.ChromatogramNodeFactory">
      </node>
      <node
            category-path="/openchrom/visualization"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.viz.massspectrum.MassSpectrumNodeFactory">
      </node>
      <node
            category-path="/openchrom/manipulator"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.manipulator.ChromatogramSelectionModifierNodeFactory">
      </node> 
      <node
            category-path="/openchrom/translator"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.translator.CsMsdToTableNodeFactory">
      </node>
      <node
            category-path="/openchrom/translator"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.translator.TableToCsMsdNodeFactory">
      </node>                  
   </extension>
</plugin>
