<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="net.openchrom.xxd.process.supplier.knime.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="KNIME Integration"
            category="org.eclipse.chemclipse.xxd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.xxd.process.supplier.knime.ui.preferences.PreferencePage"
            id="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.preferences.preferencePage">
      </page>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            level-id="openchrom"
            name="OpenChrom"
            icon="icons/openchrom.png"
            description="OpenChrom I/O and visualization nodes."
            path="/">
      </category>
      <category
            level-id="msd"
            name="MSD"
            icon="icons/msd.png"
            description="Mass Spectrum Detector"
            path="/openchrom">
      </category>
      <category
            level-id="csd"
            name="CSD"
            icon="icons/csd.png"
            description="Detector"
            path="/openchrom">
      </category>           
      <category
            level-id="io"
            name="I/O"
            icon="icons/io.png"
            description="Data input and output of various file formats."
            path="/openchrom/msd">
      </category>
      
      <category
            level-id="io"
            name="I/O"
            icon="icons/io.png"
            description="Data input and output of various file formats."
            path="/openchrom/csd">
      </category>
      <category
            level-id="da"
            name="Direct Access"
            icon="icons/da.png"
            description="Direct access to measurement data via open editor."
            path="/openchrom/msd">
      </category>
      <category
            level-id="visualization"
            name="Visualization"
            icon="icons/visualization.png"
            description="Data visualization"
            path="/openchrom">
      </category>
     	<category
            level-id="detector"
            name="Peak Detectors"
            icon="icons/peakdetectors.png"
            description="Peak Detectors"
            path="/openchrom/csd">
      </category>
      <category
            level-id="filter"
            name="Filter"
            icon="icons/filter.png"
            description="Filter"
            path="/openchrom/csd">
      </category>
      <category
      		level-id="identifier"
      		name="Identifier"
      		icon="icons/identifier.png"
      		description="Identifier"
      		path="/openchrom/csd">
      </category>
      <category
      		level-id="integrator"
      		name="Peak Integrator"
      		icon="icons/peakIntegrators.png"
      		description="Peak Integrator"
      		path="/openchrom/csd">
      </category>   
      <category
            level-id="translator"
            name="Translator"
            icon="icons/translator.png"
            description="Translator"
            path="/openchrom/csd">
      </category>  
      <category
      		level-id="process_control"
      		name="Process Control"
      		icon="icons/ProcessControl.gif"
      		description="Process Control"
      		path="/openchrom/csd">
      </category>
      <category
            level-id="detector"
            name="Peak Detectors"
            icon="icons/peakdetectors.png"
            description="Peak Detectors"
            path="/openchrom/msd">
      </category>
      <category
            level-id="filter"
            name="Filter"
            icon="icons/filter.png"
            description="Filter"
            path="/openchrom/msd">
      </category>
      <category
      		level-id="identifier"
      		name="Identifier"
      		icon="icons/identifier.png"
      		description="Identifier"
      		path="/openchrom/msd">
      </category>
      <category
      		level-id="integrator"
      		name="Peak Integrator"
      		icon="icons/peakIntegrators.png"
      		description="Peak Integrator"
      		path="/openchrom/msd">
      </category>   
      <category
            level-id="translator"
            name="Translator"
            icon="icons/translator.png"
            description="Translator"
            path="/openchrom/msd">
      </category>  
      <category
      		level-id="process_control"
      		name="Process Control"
      		icon="icons/ProcessControl.gif"
      		description="Process Control"
      		path="/openchrom/msd">
      </category>
      <category
      		level-id="report"
      		name="Report"
      		icon="icons/report.png"
      		description="Report"
      		path="/openchrom/msd">
      </category>
      <category
            level-id="nmr"
            name="NMR"
            icon="icons/msd.png"
            description="Nuclear Magnetic Resonance Spectroscopy"
            path="/openchrom">
      </category>      
      <category
            level-id="io"
            name="I/O"
            icon="icons/io.png"
            description="Data input and output of various file formats."
            path="/openchrom/nmr">
      </category>
      <category
            level-id="translator"
            name="Translator"
            icon="icons/translator.png"
            description="Translator"
            path="/openchrom/nmr">
      </category>
      <category
            level-id="xir"
            name="XIR"
            icon="icons/msd.png"
            description="XIR Spectroscopy"
            path="/openchrom">
      </category>      
      <category
            level-id="io"
            name="I/O"
            icon="icons/io.png"
            description="Data input and output of various file formats."
            path="/openchrom/xir">
      </category>
      <category
            level-id="translator"
            name="Translator"
            icon="icons/translator.png"
            description="Translator"
            path="/openchrom/xir">
      </category>           		                     
   </extension>

   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/openchrom/csd/io"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.csd.ChromatogramReaderNodeFactory">
      </node>
      <node
            category-path="/openchrom/csd/io"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.csd.ChromatogramExportNodeFactory">
      </node>
      <node
            category-path="/openchrom/msd/io"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.msd.ChromatogramReaderNodeFactory">
      </node>
      <node
            category-path="/openchrom/msd/io"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.msd.ChromatogramExportNodeFactory">
      </node>
      <node
            category-path="/openchrom/msd/da"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.msd.ChromatogramGetterMSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/msd/da"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.da.msd.ChromatogramSetterMSDNodeFactory">
      </node>
      <node
            category-path="/openchrom/visualization"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.viz.chromatogram.ChromatogramNodeFactory">
      </node>
      <node
            category-path="/openchrom/visualization"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.viz.massspectrum.MassSpectrumNodeFactory">
      </node>
      <node
            category-path="/openchrom/msd/translator"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.translator.msd.CsMsdToTableNodeFactory">
      </node>
      <node
            category-path="/openchrom/msd/translator"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.translator.msd.TableToCsMsdNodeFactory">
      </node>
            <node
            category-path="/openchrom/msd/translator"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.translator.msd.PeakMsdToTableNodeFactory">
      </node>
      <node
      		category-path="/openchrom/msd/process_control"
      		factory-class="net.openchrom.xxd.process.supplier.knime.ui.processing.msd.ProcessControllerStartNodeFactory">
      </node>    
      <node
      		category-path="/openchrom/msd/process_control"
      		factory-class="net.openchrom.xxd.process.supplier.knime.ui.processing.msd.ProcessControllerEndNodeFactory">
      </node>
      <node
      		category-path="/openchrom/csd/process_control"
      		factory-class="net.openchrom.xxd.process.supplier.knime.ui.processing.csd.ProcessControllerStartNodeFactory">
      </node>    
      <node
      		category-path="/openchrom/csd/process_control"
      		factory-class="net.openchrom.xxd.process.supplier.knime.ui.processing.csd.ProcessControllerEndNodeFactory">
      </node>
       <node
            category-path="/openchrom/nmr/io"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.nmr.MeasurementReader2TableNMRNodeFactory">
      </node>
       <node
            category-path="/openchrom/xir/io"
            factory-class="net.openchrom.xxd.process.supplier.knime.ui.io.xir.MeasurementReader2TableXIRNodeFactory">
      </node>
                         
   </extension>
</plugin>
