<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
            default-category-icon="icons/filter.png"
            deprecated="false"
            factory-class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.knime.nodeset.ChromatogramFilterNodeSetFactory">
      </nodeset>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/openchrom/filter"
            deprecated="false"
            factory-class="org.eclipse.chemclipse.chromatogram.xxd.filter.supplier.knime.apply.ChromatogramApplyFiltersNodeFactory">
      </node>
   </extension>
</plugin>
