<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            level-id="xir"
            name="XIR"
            icon="icons/msd.png"
            description="XIR Spectroscopy"
            path="/openchrom">
      </category>      
      <category
            level-id="io"
            name="I/O"
            icon="icons/io.png"
            description="Data input and output of various file formats."
            path="/openchrom/xir">
      </category>
      <category
            level-id="translator"
            name="Translator"
            icon="icons/translator.png"
            description="Translator"
            path="/openchrom/xir">
      </category>           		                     
   </extension>

   
   <extension
         point="org.knime.workbench.repository.nodes">
  
       <node
            category-path="/openchrom/xir/io"
            factory-class="net.openchrom.xir.process.supplier.knime.ui.io.MeasurementReader2TableXIRNodeFactory">
      </node>
                         
   </extension>
</plugin>
