<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.knime.workbench.repository.categories">
      <category
            level-id="openchrom"
            name="OpenChrom"
            icon="/icons/openchrom.png"
            description="OpenChrom nodes."
            path="/">
      </category>
       <category
            level-id="nmr"
            name="NMR"
            icon="/icons/nmr.png"
            description="OpenChrom NMR (Nuclear Magnetic Resonance Spectroscopy) nodes."
            path="/openchrom">
      </category>      
</extension> 
 <extension
         point="org.knime.workbench.repository.categories">
   <category
            level-id="util"
            name="Util"
            description="OpenChrom utility nodes."
            path="/openchrom">
    </category>
</extension>   
</plugin>
