<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.chemclipse.chromatogram.msd.process.ui.preferences.processPreferencePage"
            class="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.preferences.PreferencePage"
            id="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.preferences.preferencePage"
            name="KNIME Integration">
      </page>
   </extension>

   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="OpenChrom I/O nodes."
            icon="icons/openchrom.png"
            level-id="openchrom"
            name="OpenChrom"
            path="/"/>
      <category
            description="Mass selective data (MSD)."
            icon="icons/dataMSD.png"
            level-id="msd"
            name="MSD"
            path="/openchrom"/>
      <category
            description="Current selective data (CSD)."
            icon="icons/dataCSD.png"
            level-id="csd"
            name="CSD"
            path="/openchrom"/>
      <category
            description="Wavelength selective data (WSD)."
            icon="icons/dataWSD.png"
            level-id="wsd"
            name="WSD"
            path="/openchrom"/>                                    
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/openchrom/msd"
            factory-class="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.msd.ChromatogramReaderMSDNodeFactory"
            id="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.msd.ChromatogramReaderMSDNodeFactory"/>
      <node
            category-path="/openchrom/msd"
            factory-class="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.msd.ChromatogramWriterMSDNodeFactory"
            id="net.openchrom.chromatogram.xxd.process.supplier.knime.ui.msd.ChromatogramWriterMSDNodeFactory"/>            
   </extension>
</plugin>
