<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="openchrom/nmr"
            factory-class="net.openchrom.knime.node.nmr.io.jcampdx.fid.FidReaderNodeFactory"
            />
   </extension>
</plugin>
