<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="Chromatogram Selection (MSD)"
            objectClass="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionMSDPortObject"
            objectSerializer="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionMSDPortObject$Serializer"
            specClass="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionMSDPortObjectSpec"
            specSerializer="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionMSDPortObjectSpec$Serializer">
      </portType>
      
       <portType
            hidden="false"
            name="Chromatogram Selection (CSD)"
            objectClass="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionCSDPortObject"
            objectSerializer="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionCSDPortObject$Serializer"
            specClass="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionCSDPortObjectSpec"
            specSerializer="net.openchrom.xxd.process.supplier.knime.portobject.ChromatogramSelectionCSDPortObjectSpec$Serializer">
      </portType>
   </extension>
</plugin>
